.master {
    background-color: #262626;
    height: 100vh;
}

.share-icon {
    background-color: #fff;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
}

.photo {
    border-radius: 50%;
}