<!-- ng build --output-path docs --base-href /linktree/ -->
<!-- https://shre.ink/linktr-ee -->
<div class="master">
  <div class="background container pt-3">
    <section id="share">
      <div class="share row w-100 justify-content-end">
        <div class="col-auto">
          <button class="share-icon">
            <div class="px-2 py-1">
              <i class="fa-solid fa-arrow-up-from-bracket text-black fs-1"></i>
            </div>
          </button>
        </div>
      </div>
    </section>
    <section id="perfil">
      <div class="perfil row justify-content-center">
        <div class="col-6 col-md-2">
          <img src="./assets/images/profile-pic.jpg" class="photo w-100">
        </div>
        <div class="col-12 text-center pt-3">
          <h1 class="name">@Pedrusoad <i class="fa-solid fa-check" style="color: #00b6ff;"></i></h1>
        </div>
        <div class="col text-center row justify-content-center pt-3">
          <div class="col-auto px-md-3 fs-2 fs-md-3" *ngFor="let item of socialPages; let index = index">
            <a [href]="item.link" target="_blank">
              <i [class]="item.iconClass + ' socialIcons'"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>