/* You can add global styles to this file, and also import other style files */
*{
    color: #fff;
}

.fs-1 {
    font-size: 1rem !important;
}
.fs-1-5 {
    font-size: 1.5rem !important;
}
.fs-2 {
    font-size: 2rem !important;
}
.fs-3 {
    font-size: 3rem !important;
}
.fs-4 {
    font-size: 4rem !important;
}
.fs-5 {
    font-size: 5rem !important;
}

@media (min-width: 768px) {
    .fs-md-1 {
        font-size: 1rem !important;
    }
    .fs-md-2 {
        font-size: 2rem !important;
    }
    .fs-md-3 {
        font-size: 3rem !important;
    }
    .fs-md-4 {
        font-size: 4rem !important;
    }
    .fs-md-5 {
        font-size: 5rem !important;
    }
}